@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;500;700;800&display=swap');

body{  font-family: 'Lexend Deca', sans-serif !important; 
    background-image: url('background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lexend Deca', sans-serif !important;
}
.fJztkS{ background-color: transparent !important;     vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.mainbox {
    background: rgb(0 0 0 / 44%);
    border-radius: 15px 15px;
    padding: 40px 30px;
    margin: auto;
    width: 100%;
    max-width: 500px;
}
.heading-title h1 {
    font-size: 34px;
    font-weight: 600;
}
.heading-title p {
    font-size: 19px;
    font-style: italic;
}
.shark-img { border-radius: 12px 12px; }
.price-cont p {
    color: #fff;
    font-size: 18px;
    font-style: italic;
    line-height: 1.2;
}
.price-cont h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin: 4px 0px 5px;
}
.connect-btn {
    background-color: #fff !important;
    color: #121212 !important;
    font-size: 24px;
    text-transform: uppercase;
    border: 2px solid #fff;
    width: 100%;
    border-radius: 9px 9px;
    padding: 15px;
    transition: all 0.4s ease;
}
.connect-btn:hover, .connect-btn:active, .connect-btn:focus {
    background: transparent !important;
    color: #fff !important;
}
.dCezno{ height: auto !important; width: 12px !important; }
.bg-quantity {
    background: #262424;
    margin: 27px 0px 10px;
    border-radius: 8px 8px;
    padding: 11px 13px;
}
.qty-input {
    margin: auto;
    text-align: left;
}
.qty-input button {
    background: none;
    color: #fff;
    box-shadow: 0px 0px;
    outline: none;
    font-size: 28px;
    font-weight: 300;
}
.qty-input p { font-size: 22px; }
.butPHH, .sc-bdfBQB { background-color: transparent !important; }














